<ion-view view-title="Running Form">
    <ion-content ng-class="{expanded:isExpanded}" class="animate-fade-slide-in">
            
            <div ng-repeat="article in articles">
                <div ng-switch on="article.type">
                    <div ng-switch-when="video">
                        <div ui-sref="app.profile" class="card card-gallery item item-text-wrap">
                            <div class="bar bar-energized-900">
                                <h1 class="title whitetext">{{article.title}}</h1>
                            </div>
                                <div class="video-container">
                                    <iframe ng-src="{{getUrl(article.url)}}" frameborder="0" width="100%"></iframe>
                                </div>
                        </div>
   
                    </div>
                    <div ng-switch-default>
                        <div ui-sref="app.profile" class="card card-gallery item item-text-wrap">
                            <div class="bar bar-energized-900">
                                <h1 class="title whitetext">{{article.title}}</h1>
                            </div>

                                    <img class="full-image" src="{{article.image_url}}">
                             
                        </div>
                    </div>
                </div>             

            </div>
    </ion-content>
</ion-view>