<ion-view view-title="Training Plan" hide-back-button="true">
  <ion-content>

  
  <div class="bar bar-energized-900">
  			<h1 class="title whitetext">Week 1</h1>
  		</div>

  <div class="list">
		  <div class="item">
		  </div>
  	
	<div class="item item-text-wrap">
		<strong>1st Jan 2016</strong>
		<p>
				Long run target 12 km. Run at the race pace for 15 mins, Run/walk at a recovery pace for 5 mins. Repeat 4 times
		</p>
  	</div>
  	
  	<div class="item item-text-wrap">
		<strong>3rd Jan 2016</strong>
		<p>
				Tempo run target 6 km. Run at the race pace for 15 mins, Run/walk at a recovery pace for 5 mins. Repeat 4 times
		</p>
  	</div>

  	<div class="item item-text-wrap">
		<strong>5th Jan 2016</strong>
		<p>
				Tempo run target 6 km. Run at the race pace for 15 mins, Run/walk at a recovery pace for 5 mins. Repeat 4 times
		</p>
  	</div>

  </div>
   <div class="bar bar-energized-900">
  			<h1 class="title whitetext">Week 2</h1>
  		</div>

  <div class="list">
		  <div class="item">
		  </div>
  	
	<div class="item item-text-wrap">
		<strong>1st Jan 2016</strong>
		<p>
				Long run target 12 km. Run at the race pace for 15 mins, Run/walk at a recovery pace for 5 mins. Repeat 4 times
		</p>
  	</div>
  	
  	<div class="item item-text-wrap">
		<strong>3rd Jan 2016</strong>
		<p>
				Tempo run target 6 km. Run at the race pace for 15 mins, Run/walk at a recovery pace for 5 mins. Repeat 4 times
		</p>
				    <button  class="button button-energized-900 ink ion-android-arrow-dropright-circle icon-left" ui-sref="app.activerun">Begin Run</button>
  	</div>

  	<div class="item item-text-wrap">
		<strong>5th Jan 2016</strong>
		<p>
				Tempo run target 6 km. Run at the race pace for 15 mins, Run/walk at a recovery pace for 5 mins. Repeat 4 times
		</p>
  	</div>

  </div>

    <div class="bar bar-energized-900">
  			<h1 class="title whitetext">Week 3</h1>
  		</div>

  <div class="list">
		  <div class="item">
		  </div>
  	
	<div class="item item-text-wrap">
		<strong>1st Jan 2016</strong>
		<p>
				Long run target 12 km. Run at the race pace for 15 mins, Run/walk at a recovery pace for 5 mins. Repeat 4 times
		</p>
  	</div>
  	
  	<div class="item item-text-wrap">
		<strong>3rd Jan 2016</strong>
		<p>
				Tempo run target 6 km. Run at the race pace for 15 mins, Run/walk at a recovery pace for 5 mins. Repeat 4 times
		</p>
  	</div>

  	<div class="item item-text-wrap">
		<strong>5th Jan 2016</strong>
		<p>
				Tempo run target 6 km. Run at the race pace for 15 mins, Run/walk at a recovery pace for 5 mins. Repeat 4 times
		</p>
  	</div>

  </div>  

  </ion-content>
</ion-view>
