<ion-view view-title="Home" hide-back-button="true">
  <ion-content>
  		
  		<div class="list card" ng-click="tipOfDay('http://irunlikeme.blogspot.in/2011/02/how-to-engage-your-core-while-running.html');">
  		  <div class="item item-avatar" >
  		    <button id="begin-run" class="button button-fab button-assertive icon ion-ios-lightbulb-outline" ui-sref="app.activerun" style="position:absolute;top:12px;left:12px"></button>
		    <p><strong>Engage the core</strong></p>
		    <p> The easiest way to do this is through visualization. While running you want an upright posture that comes from your hips all the way through to the top of your head. You don't want to 'stretch' through the top of your head, you just want to feel tall. You should lean forward ever so slightly and tuck your hips beneath your lower back. This may sound hard to do, and it is, I didn't find it easy to do until I started doing yoga.</p>
		  </div>
		</div>

  		<div class="list card">
  		<div class="list">
  		  <div class="item">
		    <h2>Todays Run</h2>
		  </div>

		  <div class="item">
		    <img class="full-image" src="https://pixabay.com/static/uploads/photo/2015/05/10/18/02/runner-761262_960_720.jpg">
		    <p>
		      Long Slow Run of 11 kms at a pace of 6 mins/km
		    </p>
		  </div>

		  <div class="item">
	  		<button  class="button button-full button-energized-900 ink ion-android-arrow-dropright-circle icon-left" ui-sref="app.activerun">Begin Run</button>
	  		</div>	
		</div>
		</div>
		

  </ion-content>
</ion-view>
