<ion-view view-title="Home" hide-back-button="true">
  <ion-content>
  		
  		<div class="list card" ng-click="openUrl(tipOfDay.url);">
  		  <div class="item item-avatar noborder-item top-border" >
  		    <button id="begin-run" class="button button-fab button-energized-900 icon ion-ios-lightbulb-outline" style="position:absolute;top:12px;left:12px"></button>
		    <p><strong>{{tipOfDay.title}}</strong></p>
		    <p> {{tipOfDay.description}}</p>
		  </div>
		</div>

  		<div class="list card">
  		<div class="list">
  		  <div class="item noborder-item top-border">
		    <h2>Todays Run</h2>
		  </div>

		  <div class="item noborder-item">
		    <img class="full-image" src="img/begin_run.jpg">
		    <p>
		      Long Slow Run of 11 kms at a pace of 6 mins/km
		    </p>
		    <button  class="button button-full button-energized-900 ink ion-android-arrow-dropright-circle icon-left" ui-sref="app.activerun">Begin Run</button>
	
		  </div>
		</div>
		</div>
		

  </ion-content>
</ion-view>
