<!--<ion-view view-title="Running History"  class="animate-fade-slide-in">
  <ion-content >
        <button class="button button-positive" ng-click="signInWithFacebook()">
 Login with FaceBook
</button>
<button class="button button-positive" ng-click="signInWithGoogle()">
 Login with Google
</button>

  </ion-content>
</ion-view>



-->
<!--
<ion-view view-title="Login" align-title="left">
    <ion-content style="background: url(https://pixabay.com/static/uploads/photo/2015/03/26/09/46/runner-690265_960_720.jpg) center; background-size: cover;">
                
    
            <div class="content">
                
                <div class="list">
                <div class="item">&nbsp;</div>
                <div class="item"><img class="app-icon center" src="http://www.satarahillmarathon.com/img/Logo1.png"></div>
                <div class="item">&nbsp;</div>
                    <div class="item">
                        <button  class="button button-full button-assertive-900 ink ion-social-google icon-left" ng-click="signInWithGoogle()">Login With Gmail</button>

                    </div>
                    
                    <div class="item">
                        <button  class="button button-full button-positive-900 ink ion-social-facebook icon-left" ng-click="signInWithFacebook()">Login with Facebook</button>

                    </div>
                    
                    

                    <div class="item">
                        
                        <button  class="button button-full button-calm-900 ink ion-social-twitter icon-left" ng-click="signInWithTwitter()">Login with Twitter</button>

                    </div>
                    
                    
                </div>
            </div>    
        
        
    </ion-content>
</ion-view>
-->


<ion-view view-title="Login" align-title="left">
    <ion-content style="background: url(https://pixabay.com/static/uploads/photo/2015/03/26/09/46/runner-690265_960_720.jpg) center; background-size: cover;">
                
        
        <div class="hero no-header flat">
            <div class="content">
                 <div class="list">
                        <div class="item">&nbsp;</div>
                        <div class="item"><img class="app-icon center" src="http://www.satarahillmarathon.com/img/Logo1.png"></div>
                    </div>
                    
            </div>
        </div>
        <div class="padding footer" >
        <div class="bottomButtons">
            <button  class="button button-full button-assertive-900 ink ion-social-google icon-left" ng-click="signInWithGoogle()">Login With Gmail</button>
            <button  class="button button-full button-positive-900 ink ion-social-facebook icon-left" ng-click="signInWithFacebook()">Login with Facebook</button>
            <button  class="button button-full button-calm-900 ink ion-social-twitter icon-left" ng-click="signInWithTwitter()">Login with Twitter</button>
        </div>
        
    </ion-content>
</ion-view>
