<ion-view view-title="Login" align-title="left">
    <ion-content style="background: url(img/login_bg.jpg) center; background-size: cover;">
                
        
        <div class="hero no-header flat">
            <div class="content">
                 <div class="list">
                        <div class="item noborder-item">&nbsp;</div>
                        <div class="item noborder-item"><img class="app-icon center" src="img/newlogo.png"></div>
                    </div>
                    
            </div>
        </div>
        <div class="padding footer" >
        <div class="bottomButtons">
            <button  class="button button-full button-assertive-900 ink ion-social-google icon-left" ng-click="signInWithGoogle()">Login With Gmail</button>
            <button  class="button button-full button-positive-900 ink ion-social-facebook icon-left" ng-click="signInWithFacebook()">Login with Facebook</button>
            <button  class="button button-full button-calm-900 ink ion-social-twitter icon-left" ng-click="signInWithTwitter()">Login with Twitter</button>
            <button  class="button button-full button-balanced-900 ink ion-ios-person icon-left" ng-click="signInAsGuest()">Continue As Guest</button>
        </div>
        
    </ion-content>
</ion-view>
